/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
}

* {
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Quattrocento', serif;*/
	/*font-family: 'Spectral', serif;*/
	letter-spacing: -0.02em;
}

body {
	/*background: rgb(255,245,230);*/
}

/*TYPE STYLES*/

.title {
	width: 100%;

	font-size: 1.5rem;
	text-align: center;
}

p {
	color: black;
}

a {
	/*font-family: 'DM Sans', sans-serif;*/
	color: black;
	text-decoration: none;
}

a:hover {
	/*font-style: italic;*/
	text-decoration: underline;

}

header {
	margin-left: -1rem;

	text-align: left;
}

.head-link {
	width: 100%;
	margin: 0;

	font-size: 1.5rem;
	text-align: center;
}

footer a {
	font-size: 2rem;
}

footer a:hover {
	font-style: italic;
	text-decoration: none;
}

/*STRUCTURE*/

img {
	width: 100%;
	margin-top: 1rem;

	/*background-color: yellow;*/
	filter: grayscale(100%);
	mix-blend-mode: multiply;
}

img:hover {
	filter: none;
}

.wrapper {
	display: grid;
	grid-template-rows: 1fr 3rem 3rem 3rem 3rem 3rem;
	grid-template-columns: 18rem 1fr 3rem 3rem 3rem 3rem 3rem;
	/*grid-gap: 2rem;*/

	position: fixed;
	width: calc(100% - 4rem);
	height: calc(100% - 4rem);
	top: 0;
	left: 0;
	margin: 2rem;
	padding-right: 2rem;

	overflow: auto;
}

.content-wrapper li {
	grid-column-start: 1;
	grid-column-end: 3;
	line-height: 24px;
}

.box {
	padding: 1.5rem 2rem 2rem 2rem;
	border: solid black 1px;
	background: white;

	overflow: auto;
}

.box:hover {
	background: black;
}

.box:hover .desc, 
.box:hover a {
	color: white;
}

.box:hover .head-link {
	color: white;
}

.box.bio {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

	z-index: 100;
}

.box.research {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;

	margin-top: 3rem;
	margin-left: 3rem;

	z-index: 99;
}

.box.pub {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;

	margin-top: 6rem;
	margin-left: 6rem;

	z-index: 98;
}

.box.teach {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 5;

	margin-top: 9rem;
	margin-left: 9rem;

	z-index: 97;
}

.box.events {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 6;

	margin-top: 12rem;
	margin-left: 12rem;

	z-index: 96;
}

.box.contact {
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 7;

	margin-top: 15rem;
	margin-left: 15rem;

	z-index: 95;
}







/*@media only screen and (max-width: 1200px) {
	.wrapper {
		grid-template-rows: 1fr 2rem 2rem 2rem 2rem 2rem;
		grid-template-columns: 6rem 1fr 2rem 2rem 2rem 2rem 2rem;
	}
}*/

@media only screen and (max-width: 920px) {
	.wrapper {
		grid-template-rows: 1fr 2rem 2rem 2rem 2rem 2rem;
		grid-template-columns: 10rem 1fr 2rem 2rem 2rem 2rem 2rem;
	}

	.box.research {
		margin-top: 2rem;
		margin-left: 2rem;
	}

	.box.pub {
		margin-top: 4rem;
		margin-left: 4rem;
	}

	.box.teach {
		margin-top: 6rem;
		margin-left: 6rem;
	}

	.box.events {
		margin-top: 8rem;
		margin-left: 8rem;
	}

	.box.contact {
		margin-top: 10rem;
		margin-left: 10rem;
	}
}

@media only screen and (max-width: 620px) {
	.wrapper {
		grid-template-rows: 6rem 1fr 2rem 2rem 2rem 2rem 2rem;
		grid-template-columns: 1fr 2rem 2rem 2rem 2rem 2rem;
	}

	.box.bio {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.box.research {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 4;

		margin-top: 2rem;
		margin-left: 2rem;
	}

	.box.pub {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 5;

		margin-top: 4rem;
		margin-left: 4rem;
	}

	.box.teach {
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 6;

		margin-top: 6rem;
		margin-left: 6rem;
	}

	.box.events {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 7;

		margin-top: 8rem;
		margin-left: 8rem;
	}

	.box.contact {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 2;
		grid-row-end: 8;

		margin-top: 10rem;
		margin-left: 10rem;
	}
}




