/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
}

::-moz-selection {
	/*background-color: rgba(20,220,235,1);*/
	background-color: rgba(255,100,80,1);
	color: rgba(0,0,0,1);
}

::selection {
	/*background-color: rgba(20,220,235,1);*/
	background-color: rgba(255,100,80,1);
	color: rgba(0,0,0,1);
}

* {
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Quattrocento', serif;*/
	/*font-family: 'Spectral', serif;*/
	letter-spacing: -0.02em;

	transition-duration: 0.2s;
}

body {
	/*background: rgb(255,245,230);*/
}

/*TYPE STYLES*/

p {
	color: black;
}

a {
	/*font-family: 'DM Sans', sans-serif;*/
	color: black;
	text-decoration: underline;
}

a:hover {
	/*font-style: italic;*/
	/*text-decoration: underline;*/
	color: rgba(20,220,235,1);

}

.box a:hover {
	color: rgba(20,220,235,1);
}

.header {
	margin: 0;
	margin-top: 1.5rem;

	font-family: 'Quattrocento', serif;
	font-size: 2rem;
	text-align: left;
}

.sidebar-desc {
	margin-top: 1.25rem;
	color: black;
}

.head-link {
	width: 100%;
	margin: 0;

	font-family: 'Quattrocento', serif;
	font-size: 2rem;
}

.desc {
	margin-top: 1.25rem;
	line-height: 1.5rem;
}

li {
	line-height: 1.5rem;
}

/*STRUCTURE*/

img {
	width: 100%;
	margin-top: 1rem;

	/*background-color: yellow;*/
	filter: grayscale(100%);
	mix-blend-mode: multiply;
}

img:hover {
	filter: none;
}

.wrapper {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 24rem 1fr;
	/*grid-gap: 0.25rem;*/

	position: fixed;
	width: calc(100% - 0rem);
	height: calc(100% - 0rem);
	top: 0;
	left: 0;
	/*margin: 2rem;*/
	padding-right: 2rem;

	overflow: auto;
}

.content-wrapper li {
	grid-column-start: 1;
	grid-column-end: 3;
	line-height: 24px;
}

.sidebar {
	padding: 0rem 0rem 0rem 2rem;
}

.box {
	padding: 1.5rem 2rem 2rem 2rem;
	/*border: solid black 1px;*/
	background: black;

	overflow: hidden;
}

.box .desc,
.box p,
.box a {
	color: white;
}


.box:hover {
	background: white;
	cursor: ns-resize;
}

.box:hover .desc, 
.box:hover p,
.box:hover a {
	color: black;
}

.box:hover .head-link {
	/*color: black;*/
	text-decoration: none;
}

.box.bio {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

	z-index: 100;
}

.box.research {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;

/*	margin-top: 3rem;
	margin-left: 3rem;*/

	z-index: 99;
}

.box.pub {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;

/*	margin-top: 6rem;
	margin-left: 6rem;*/

	z-index: 98;
}

.box.teach {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;

/*	margin-top: 9rem;
	margin-left: 9rem;*/

	z-index: 97;
}

.box.events {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;

/*	margin-top: 12rem;
	margin-left: 12rem;*/

	z-index: 96;
}

.box.contact {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;

/*	margin-top: 15rem;
	margin-left: 15rem;*/

	z-index: 95;
}







/*@media only screen and (max-width: 1200px) {
	.wrapper {
		grid-template-rows: 1fr 2rem 2rem 2rem 2rem 2rem;
		grid-template-columns: 6rem 1fr 2rem 2rem 2rem 2rem 2rem;
	}
}*/

/*@media only screen and (max-width: 920px) {*/
	/*.wrapper {*/
		/*grid-template-rows: 1fr 2rem 2rem 2rem 2rem 2rem;*/
		/*grid-template-columns: 18rem 1fr;*/
	/*}*/

/*	.box.research {
		margin-top: 2rem;
		margin-left: 2rem;
	}

	.box.pub {
		margin-top: 4rem;
		margin-left: 4rem;
	}

	.box.teach {
		margin-top: 6rem;
		margin-left: 6rem;
	}

	.box.events {
		margin-top: 8rem;
		margin-left: 8rem;
	}

	.box.contact {
		margin-top: 10rem;
		margin-left: 10rem;
	}*/
/*}*/

@media only screen and (max-width: 960px) {
	.wrapper {
		grid-template-rows: 5rem 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.box.bio {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.box.research {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
	}

	.box.pub {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
		grid-row-end: 5;
	}

	.box.teach {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 5;
		grid-row-end: 6;
	}

	.box.events {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 6;
		grid-row-end: 7;
	}

	.box.contact {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 7;
		grid-row-end: 8;
	}
}




